/*  740px < tablet < 1024px*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    /* header */
    .nav-mobi{
        display: none;
    }
    
    /* banner */
    .logo2{
        height: 40%;
    }
    .banner-title{
        
        margin: 20px 0 ;
    }
    .banner-btn{
        width: 250px;
        height: 60px;
    }
    .features-img {
        margin: 0 24%;
    }
    /* introduce */
    #introduce{
        overflow-x:scroll ;
        -webkit-scrollbar-thumb:none;
    }
    .introduce-logo__img{
        width: 610px;
        margin-bottom: 16px;
    }
    .introduce-logo__img{
        width: 100%;
    }
    .introduce-tittle {
        font-size: 18px;
        width: 71%;
    }
    /* download */
    .download__heading{
        font-size: 50px;
    }
    .download-title{
        margin: 100px auto;
    }
    /* contact */
    .contact__heading {
        width: 80%;
        font-size: 40px;
    }
    .contact-support{
        margin-top: 10px;
        
    }
    .contact-content__title{
        width: 220px;
        font-size:18px ;
        font-weight: 600;
        
    }

   
}
/* tablet $ mobile */
@media only screen and (max-width:63.9375em){
    .navbar{
        display: none;
    }
    .header{
        justify-content: space-around;
        align-items: center;
    }
    .nav-tablet{
        display: flex;
    }
    .header-logo{
        margin: 0;
    }
    .header-search{
        width: 250px;
        margin: 0 20px;
    }
    
     
    /* introduce */
     #introduce{
        overflow-x:scroll ;
        -webkit-scrollbar-thumb:none;
    }
    /* contact */
    
    
}

/* mobile < 740px */
@media only screen and (max-width:46.1875em){
    /* header mobi */
    .nav-mobi{
        display: block ;
    }
    .header{
        height: 80px;
    }
    .header-search{
        display: none;
    }
    .header-logo{
       width: 230px;
    }
    /* banner */
    .banner{
        margin-top:80px ;
    }
    .banner-heading {
        font-size: 20px;
        font-weight: 600;
        margin-top: 14px;
    }
    .banner-title {
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0 20px;
    }
    .banner-btn {
    width: 200px;
    height: 40px;
    font-size: 30px;
    padding: 4px 12px;
    }
    .banner-image{
        display: none;

    }
    /* content */
    /* introduce */
    .introduce-logo__img {
        width: 90%;
        margin-left: 7%;
    }
    .introduce-tittle {
        font-size: 14px;
        width: 70%;
        margin: auto;
    }
    .introduce-img {
        width: 90%;
        margin-left: 5%;
    }
    .features-img {
        width: 80%;
        margin: 0 39px;
    }
    /* contact */
    .contact-support{
        margin-top: 10px;
    }
    .contact-content__title{
        width: 220px;
        font-size:16px ;
        font-weight: 600;
        
    }
    .suport-img{
        width: 80%;
    }
    /* download */
    .ios-img{
        width: 80%;
    }
    .download__heading {
        font-size: 30px;
    }
    .download-title {
        text-align: center;
        margin: 40px auto;
    }
    /* contact */
    .contact__heading {
        width: 80%;
        font-size: 30px;
        margin: 10px 0;
    }
    /* footer */
    .swapnow-logo{
        display: none;
    }
    .footer-heading{
        font-size:18px ;
    }
    .footer-list {
        font-size: 12px;
    }
    .footer-footer {
        font-size: 10px;
        height: 30px;
}


/* pc >= 1024px */

