/* mobile < 740px */
@media only screen and (max-width:46.1875em){
    /* header mobi */
    .nav-mobi{
        display: block;
    }
    .header{
        height: 80px;
    }
    .header-search{
        display: none;
    }
    .header-logo{
       width: 230px;
    }
    .nav-mobi-icon{
        font-size: 28px;
        font-weight: 600;
    }
    .nav-mobi__search {
        position: absolute;
        z-index: 1;
        top: 70%;
        width: 50%;
        right: 0;
        height: 25px;
        border-radius: 50px;
        overflow: hidden;
        background-color: #0DC9DD;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.5s;
    }
    .hidden{
        transform: translateX(0);
        opacity: 1;
    }
    .nav-mobi__input{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding:0 20px ;
        font-size: 16px;
        color: #000;
        
    }
    /* banner */
    .banner{
        margin-top:80px ;
    }
    .banner-heading {
        font-size: 20px;
        font-weight: 600;
        margin-top: 14px;
    }
    .banner-title {
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0 20px;
    }
    .banner-btn {
    width: 200px;
    height: 40px;
    font-size: 30px;
    padding: 4px 12px;
    }
    .banner-image{
        display: none;

    }
    /* content */
    /* introduce */
    .introduce-logo__img {
        width: 90%;
        margin-left: 7%;
    }
    .introduce-tittle {
        font-size: 14px;
        width: 70%;
        margin: auto;
    }
    .introduce-img {
        width: 90%;
        margin-left: 5%;
    }
    .features-img {
        width: 80%;
        margin: 0 39px;
    }
    /* contact */
    .contact-support{
        margin-top: 10px;
    }
    .contact-content__title{
        width: 220px;
        font-size:16px ;
        font-weight: 600;
        
    }
    .suport-img{
        width: 80%;
    }
    /* download */
    .ios-img{
        width: 80%;
    }
    .download__heading {
        font-size: 30px;
    }
    .download-title {
        text-align: center;
        margin: 40px auto;
    }
    /* contact */
    .contact__heading {
        width: 80%;
        font-size: 30px;
        margin: 10px 0;
    }
    /* footer */
    .swapnow-logo{
        display: none;
    }
    .footer-heading{
        font-size:18px ;
    }
    .footer-list {
        font-size: 12px;
    }
    .footer-footer {
        font-size: 10px;
        height: 30px;
}
/* tablet $ mobile */
@media only screen and (max-width:63.9375em){
    .navbar{
        display: none;
    }
    .header{
        justify-content: space-around;
        align-items: center;
    }
    .nav-tablet{
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        position: relative;
    }
    .header-logo{
        margin: 0;
    }
    .header-search{
        width: 250px;
        margin: 0 20px;
    }
    .over-menu{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        background-color: rgba(0,0,0,0.5);
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.5s;
    }
    .nav-tablet__menu{
        position:absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.5s;
    }
    .nav-tablet__headding{
        text-align: center;
        padding: 10px 0px;
        margin: 0 20px;
        font-style:italic;
        color: #0DC9DD;
        font: 25px;
        border-bottom: solid 1px #0DC9DD;
    }
    .nav-tablet__menu-icon{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        padding: 10px;
        cursor: pointer;
        color: #000;
    }
    .nav-tablet__list{
        margin-top: 30px;
        padding: 0 20px;
        list-style: none;
    }
    .nav-tablet__item{
        padding: 20px 10px;
    }
     
    /* introduce */
     #introduce{
        overflow-x:scroll ;
        -webkit-scrollbar-thumb:none;
    }
    /* contact */
    
    
}
/*  740px < tablet < 1024px*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    /* header */
    .nav-mobi{
        display: none;
    }
    /* banner */
    .logo2{
        height: 40%;
    }
    .banner-title{
        
        margin: 20px 0 ;
    }
    .banner-btn{
        width: 250px;
        height: 60px;
    }
    .features-img {
        margin: 0 24%;
    }
    /* introduce */
    
    .introduce-logo__img{
        width: 610px;
        margin-bottom: 16px;
    }
    .introduce-logo__img{
        width: 100%;
    }
    .introduce-tittle {
        font-size: 18px;
        width: 71%;
    }
    /* download */
    .download__heading{
        font-size: 50px;
    }
    .download-title{
        margin: 100px auto;
    }
    /* contact */
    .contact__heading {
        width: 80%;
        font-size: 40px;
    }
    .contact-support{
        margin-top: 10px;
        
    }
    .contact-content__title{
        width: 220px;
        font-size:18px ;
        font-weight: 600;
        
    }

   
}}
/* pc >= 1024px */
@media only screen and (min-width:64em){
    .nav-tablet{
        display: none;
    }
    .nav-mobi{
        display: none;
    }
}
